
body, html {
	height: 100%;
	margin: 0;
	font-family: cursive;

  }
  
  .navbar {
	
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;

  }
  
  .navbar a {
	display: inline-block;
	white-space: nowrap;
	color: #f2f2f2;
	text-align: center;
	margin: 0;
	padding: 10px 11px 10px 11px;
	font-size: calc(1.1vw + 1.1vh);


  }
  
  .navbar a:hover {
	background: #ddd;
	color: black;
  }
  
  #home {
	/* The image used */
	background-image: url("https://app.comf.co.il/moorsheiknisa/pics/imagedesktop.JPG");
  
	/* Full height */
	height: 100%; 
  
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }
  
  
  #about {
	/* The image used */
	background-color: white;
  

  }
  
  #experience {
	/* The image used */
	background-color: rgb(223, 223, 223);
  
  }
  
  #contact {
	/* The image used */
	background-color: white;

  }
  
  
  .centered {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: calc(1.6vw + 1.6vh + 2vmin);
	color: white;
	text-align: center;
  }
  
  .centered a{
	 color: rgb(0, 45, 63);
	 font-weight: 700;
  }
  
  h1{
	font-size: 40px;
	 text-align: center;
  }

  


	#para, #para2, #contact{
		font-size: calc(0.8vw + 0.8vh + 1vmin);
	

  }



button{
	padding: 10px 20px 10px 20px;
	background-color: #333333;
	color: white;
	font-size: calc(0.5vw + 0.5vh + 2vmin);
	border-radius: 7px;
}






@media only screen and (max-width: 600px) {
	body, html {
		height: 100%;
		margin: 0;
	  }

	  #home{
		  /* The image used */
		background-image: url("https://app.comf.co.il/moorsheiknisa/pics/imgmobile.png");
	  
	  }

	.navbar {
		text-align: center;
	}

	.navbar a {
		padding: 10px 2px 10px 2px;
		font-size: calc(1.6vw + 1.5vh);	
		width:20%;
		display: inline-block;
		white-space: nowrap;
		color: #f2f2f2;
		text-align: center;

	  }

	  #exp{
		width: 27%;
	  }
	  

	  #para, #para2, #contact{
		font-size: calc(2.8vw + 1.4vmin);
	  }



	  #imgsidenav{
		width: 200px;
		height: 200px;
	  }

	  #linkedin{
		height: calc(23vw); 
		width: calc(23vw); 
	  }

	  

  }
