
body, html {
	height: 100%;
	margin: 0;
	font-family: cursive;
  }
  
  /* Navigation Bar Properties */
  .navbar {
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
  }
  
  .navbar a {
	display: inline-block;
	white-space: nowrap;
	color: #f2f2f2;
	text-align: center;
	margin: 0;
	padding: 10px 11px 10px 11px;
	font-size: calc(1.1vw + 1.1vh);
  }
  
  .navbar a:hover {
	background: #ddd;
	color: black;
  }

    /* Header Pages */

  h1{
	font-size: 40px;
	 text-align: center;
  }


  /* Home Page */

  #home {
	background-image: url("./imagedesktop.jpg");
	height: 100%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }

  #home div{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: calc(1.6vw + 1.6vh + 2vmin);
	color: white;
	text-align: center;  }

 
  
	#home div a{
	 color: rgb(0, 45, 63);
	 font-weight: 700;
	 
  }

  
button{
	padding: 10px 20px 10px 20px;
	background-color: #333333;
	color: white;
	font-size: calc(0.5vw + 0.5vh + 2vmin);
	border-radius: 7px;
}





  /* About Page */

  #about{
	padding: 4vw;
	border: 5px solid  rgb(93, 93, 93);
	border-width: 1px 0px 0px 0px;
}

#about div{
	margin-top:15px;
	width:100%;
	vertical-align: top;
	font-size: calc(0.8vw + 0.8vh + 1vmin);
}

#about div:nth-child(2n){
	width:100%;      
	padding-top:25px; 
}



#imgsidenav{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:25px;
	margin-bottom:15px;
	box-shadow: 6px 6px 3px grey;
	width: calc(29vw);
	height: calc(29vw);
	border-radius: 50%;
	src: url("./imagedesktop.jpg");

}



  /* Experience Page */
  
  #experience {
	background-color: rgb(223, 223, 223);
	padding: 4vw;
	border: 5px solid  rgb(93, 93, 93);
	border-width: 1px 0px 0px 0px;

  }

  #experience div{
	font-size: calc(0.8vw + 0.8vh + 1vmin);
	background-color: rgb(223, 223, 223);
	margin-top:15px;
	width:100%;
	display: inline-block;
	vertical-align: top; 
  }

  #experience div a{
	font-weight: bolder; 
  }


  

  /* Contact Page */

#contact{
	font-size: calc(0.8vw + 0.8vh + 1vmin);
	padding: 4vw 4vw 4vw 4vw;
	text-align: center;
	border: 5px solid  rgb(93, 93, 93);
	border-width: 1px 0px 1px 0;
}

#contact button{
	background-color: white;
	height: 13vw;
	width: 13vw;
	border-radius:6px;
	background-image: url('./Linked.png');
	background-size: cover;
	border: 0px;
}


  




  /* Responsive Mobile Properties */

@media only screen and (max-width: 600px) {
	body, html {
		height: 100%;
		margin: 0;
	  }

	.navbar a {
		padding: 10px 2px 10px 2px;
		font-size: calc(1.6vw + 1.5vh);	
		width:20%;
		display: inline-block;
		white-space: nowrap;
		color: #f2f2f2;
		text-align: center;
	  }

	  #home{
		background-image: url("./imgmobile.png");
	  }

	  #about div, #experience div, #contact{
		font-size: calc(2.8vw + 1.4vmin);
	}

	

	  #imgsidenav{
		width: 200px;
		height: 200px;
	  }

  }
